
@if (@Session["username"] != null)
{
   
    <ul class="nav navbar-nav navbar-right">
        <li>
           
            <a href="#">Hello @Session["username"] !</a>
           
        </li>
        <li>@Html.ActionLink("Log out", "Logout", "Login")</li>
    </ul>
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
       
        <li>@Html.ActionLink("Log in", "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
